@import '../../../assets/styles/breakpoints';
.share-dialog {
  box-shadow: 0 8px 16px var(--box-shadow-light);
  border: 1px solid var(--background-secondary);
  padding: 20px;
  border-radius: 4px;
  background: var(--background-default);
  .dialog-title {
    margin-top: 0;
  }
  .share__list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
  }
  button,
  .share__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--foreground-light);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
    background: transparent;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
    transition: border .3s;
    cursor: pointer;
    .icon {
      transition: color .3s;
    }
    :last-child {
      margin-left: 1vw;
    }
    &:hover {
      border-color: var(--background-fortiary);
      .facebook-icon {
        color: #4267B2;
      }
      .telegram-icon {
        color: #0088cc;
      }
      .linkedin-icon {
        color: #0077b5;
      }
    }
  }
  .close-button {
    background: transparent;
    border: none;
    padding: 0;
  }
  .close-button svg {
    margin-right: 0;
  }
  .link-share {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background: var(--background-secondary);
    color: var(--foreground-light);
    cursor: pointer;
    &:hover {
      .copy-link {
        border-color: var(--background-fortiary);
      }
    }
  }
  .link-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $screen-md) {
  .share-dialog {
    margin: 0;
    max-width: 500px;
  }
  .share__list {
    grid-template-columns: 1fr 1fr;
  }
}