@import './src/assets/styles/breakpoints';
.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  // grid-auto-rows: 70vh;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  &.gallery_small {
    // grid-auto-rows: 30vh;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: $screen-md) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    //grid-auto-rows: 30vw;
    &.gallery_small {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: $screen-xl) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: $screen-xxl) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}